.homeContainer {
  display: flex;
  justify-content: center;
}

.previewContainer {
  position: relative;

  margin: 1.875rem 0 5.5rem 0;
}

.previewImg {
  width: 17.563rem;
  height: 15.938rem;

  object-fit: contain;
  background-color: #ebebeb;

  border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -khtml-border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
}

.removeImgBtn {
  position: absolute;
  right: 0.375rem;
  top: 0.375rem;

  background: none;

  width: 1.875rem;
  height: 1.875rem;

  background-image: url("../../assets/images/_x-button\ circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.imageFileInputLabel {
  width: 17.563rem;
  height: 15.938rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../assets/images/select-img-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#file {
  display: none;
}

.dateText {
  margin-top: 0.375rem;

  font-size: 0.875rem;
  color: #aaaaaa;
}

.dateInputInfoContainer > *,
.modifyText > * {
  display: inline-block;
  vertical-align: middle;
}

.dateInputInfoContainer > p {
  font-size: 0.75rem;
  color: #6b6b6b;
}

.floodErrorText {
  color: #f96a6a;
  font-size: 0.75rem;
}

.floodErrorText > p {
  font-family: "PretendardSemiBold";
  font-size: 0.75rem;
}

.resultTextContainer {
  font-family: "PretendardSemiBold";
  font-size: 1.25rem;
  color: #6b6b6b;
}

.resultText {
  font-family: "PretendardBold";
  font-size: 1.25rem;
  color: #567bff;
}

.datePicker {
  margin-top: 30px;

  width: 100%;
}
