* {
  padding: 0;
  margin: 0;

  text-decoration: none;
}

/** fonts settings */
@font-face {
  font-family: "PretendardLight";
  src: url("../src/assets/fonts/Pretendard-Light.ttf");
}

@font-face {
  font-family: "PretendardRegular";
  src: url("../src/assets/fonts/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "PretendardBold";
  src: url("../src/assets/fonts/Pretendard-Bold.ttf");
}

@font-face {
  font-family: "PretendardSemiBold";
  src: url("../src/assets/fonts/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "PretendardExtraBold";
  src: url("../src/assets/fonts/Pretendard-ExtraBold.ttf");
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  color: #aaaaaa;
}

@keyframes ratate_image {
  100% {
    transform: rotate(360deg);
  }
}

/** font styles */
.fontLight {
  font-family: "PretendardLight";
}

.fontRegular {
  font-family: "PretendardRegular";
}

.fontSemiBold {
  font-family: "PretendardSemiBold";
}

.fontBold {
  font-family: "PretendardBold";
}

.fontExtraBold {
  font-family: "PretendardExtraBold";
}

/** font sizes */
.font12 {
  font-size: 0.75rem;
}

.font14 {
  font-size: 0.875rem;
}

.font18 {
  font-size: 1.125rem;
}

.font20 {
  font-size: 1.25rem;
}

.font36 {
  font-size: 2.25rem;
}

/** default font size */
body {
  font-size: 16px;
  font-family: "PretentendardRegular", "Apple SD Gothic Neo";
}

/*? Galaxy Fold(280), iPhone5 & SE(320) */
@media screen and (max-width: 320px) {
  * {
    font-size: 12px;
  } /* 기본폰트 */
}

/** button styles */
button {
  border: 0;
  outline: 0;
}

.submitBtnContainer {
  position: fixed;
  bottom: 0;

  width: 100%;
  padding-bottom: 3.125rem;

  display: flex;
  justify-content: center;

  background-color: white;
}

.submitBtn {
  display: flex;

  justify-content: center;
  align-items: center;

  font-family: "PretendardBold";
  font-size: 1.15rem;

  width: 17.563rem;
  height: 3.063rem;

  border-radius: 0.938rem;
  -moz-border-radius: 0.938rem;
  -khtml-border-radius: 0.938rem;
  -webkit-border-radius: 0.938rem;
}

.active {
  background-color: #a4d8f2;
  color: white;
}

.inactive {
  background-color: #dddddd;
  color: #f8f8f8;
}

/** text styles */
.screenTitle {
  font-family: "PretendardBold";
  font-size: 1.25rem;
}

.screenSmallTitle {
  font-family: "PretendardSemiBold";
  font-size: 1rem;
  color: #2e2e2e;
}

.screenSubtitle {
  font-family: "PretendardLight";
  font-size: 0.875rem;
  color: #aaaaaa;
}

.questionMark {
  width: 0.75rem;
  height: 0.75rem;
  filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(94%)
    contrast(82%);
}
